.fa-2xl {
    font-size: 4em;
    line-height: .03125em;
    vertical-align: -0.1875em;
    padding-right: inherit;
    color:#494DF7;
}
.shadow-lg {
    width: 70%;
}
/* .single-deal-carosel .deal-bottom-content p{
    color:#3d446F;
}
.single-deal-carosel .deal-bottom-content h4{
    color:black;
}
.single-deal-carosel .rt-section-title-wrapper .rt-section-title{
    color: black;
} */