<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"></head> -->


            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" style="margin-left:0;">
                    <li class="sidebar-brand" (click)="collapse()" >

                         <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" id="menu-toggle" style="margin-top:20px;float:right;"></i>
                        

                    </li>
                    <li>
                        <a routerLink="/admin/package"><i class="fa-solid fa-house"></i> <span
                                style="margin-left:10px;">Home</span> </a>
                    </li>
                    <li>
                        <a routerLink="/package"> <i class="fa-solid fa-arrows-to-circle"></i><span
                                style="margin-left:10px;"> Trip Details</span> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-puzzle-piece" aria-hidden="true"> </i> <span
                                style="margin-left:10px;"> Section</span> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-font" aria-hidden="true"> </i> <span style="margin-left:10px;">
                                Section</span> </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-info-circle " aria-hidden="true"> </i> <span
                                style="margin-left:10px;">Section </span> </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-comment-o" aria-hidden="true"> </i> <span
                                style="margin-left:10px;"> Section</span> </a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
