<nav class="navbar navbar-expand-custom navbar-mainbg fixed-top shadow-lg rounded">
    <a class="navbar-brand navbar-logo" routerLink="/Home" style="font-size: 3rem;">YatraG</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navUl">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Home"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/package"><i class="far fa-address-book"></i>Packages</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/services"><i class="far fa-clone"></i>Our Services</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact"><i class="far fa-calendar-alt"></i>Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!isLoggedin" routerLink="/registration"><i
                        class="far fa-chart-bar"></i>SignUp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedin" routerLink="/login"><i class="far fa-copy"></i>Welcome
                    {{userName}}</a> <!---routerLink="/login"-->
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!isLoggedin" routerLink="/login"><i class="far fa-copy"></i>Login</a>
                <!---routerLink="/login"-->
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services"><i class="far fa-copy"></i>join Us</a>
            </li>
        </ul>
    </div>
</nav>

<div id="booking" class="section mt-5 d-flex justify-content-center">
    <div class="section-center shadow-lg p-3 mb-3 bg-white rounded">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form class="mt-5">
                        <!-- <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="flight-type">
                                        <span></span>Roundtrip
                                    </label>
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight-type">
                                        <span></span>One way
                                    </label>
                                    <label for="multi-city">
                                        <input type="radio" id="multi-city" name="flight-type">
                                        <span></span>Multi-City
                                    </label>
                                </div>
                            </div> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">From </span>
                                    <select class="form-select" [(ngModel)]="fromPlace" [formControl]="fromPlaceLinkid"
                                        aria-label="Default select example">
                                        <option selected> <span class="input-iconbadge"><img
                                                    src="./assets/images/s_icon_1.png" alt="" draggable="false"></span>
                                            From</option>
                                        <option *ngFor="let city of fromCityData" [value]="city.linkid">{{city.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">To</span>
                                    <select class="form-select" [(ngModel)]="toPlace" [formControl]="toPlaceLinkid"
                                        aria-label="Default select example">
                                        <option selected> <span class="input-iconbadge"><img
                                                    src="./assets/images/s_icon_1.png" alt="" draggable="false"></span>
                                            To</option>
                                        <option *ngFor="let city of cityData" [value]="city.linkid">{{city.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input class="form-control border" [(ngModel)]="fromDT" [formControl]="fromDate"
                                        type="date" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Returning</span>
                                    <input class="form-control border" [(ngModel)]="toDT" [formControl]="toDate"
                                        type="date" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Adults (18+)</span>
                                    <select [(ngModel)]="adultsCount" [formControl]="totalAdults"
                                        class="form-control border">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Children (0-17)</span>
                                    <select [(ngModel)]="childsCount" [formControl]="totalChilds"
                                        class="form-control border">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Travel class</span>
                                        <select class="form-control border">
                                            <option>Economy class</option>
                                            <option>Business class</option>
                                            <option>First class</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div> -->
                            <div class="col-md-4">
                                <div class="form-btn">
                                    <button (click)="getPackage()"
                                        class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-2">Show
                                        Package</button>
                                </div>
                            </div>
                            <input id="fromloc" type="text" placeholder="Enter a location"
                                (input)="FromLocation()">
                            <input id="toloc" type="text" placeholder="Enter a location"
                                (input)="ToLocation()">
                                <button (click)="GetDirection()">Get Package</button>
                                {{totalDistance}}
                            <div id="map"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>