<div class="contact_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                    <!-- Contact Item -->
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><i class="fa-solid fa-mobile-screen-button fa-xl"></i></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">Phone</div>
                            <div class="contact_info_text">+91 9876 543 2198</div>
                        </div>
                    </div>

                    <!-- Contact Item -->
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><i class="fa-solid fa-envelope fa-xl"></i></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">Email</div>
                            <div class="contact_info_text">contact&#64;yatrag.com</div>
                        </div>
                    </div>

                    <!-- Contact Item -->
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><i class="fa-brands fa-whatsapp fa-xl"></i></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">Whatsapp Channel</div>
                            <div class="contact_info_text">YatraG</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 mt-5">
                <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

                    <!-- Contact Item -->
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><i class="fa-brands fa-instagram fa-xl"></i></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">Instagram</div>
                            <div class="contact_info_text">YatraG</div>
                        </div>
                    </div>

                    <!-- Contact Item -->
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><i class="fa-brands fa-facebook fa-xl"></i></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">Facebook</div>
                            <div class="contact_info_text">YatraG</div>
                        </div>
                    </div>

                    <!-- Contact Item -->
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><i class="fa-brands fa-youtube fa-xl"></i></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">Youtube</div>
                            <div class="contact_info_text">YatraG</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Form -->

<div class="contact_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="contact_form_container">
                    <div class="contact_form_title">Get in Touch</div>

                    <form action="#" id="contact_form">
                        <div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Your name" required="required" data-error="Name is required." style="border-radius: 2vw;">
                            <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Your email" required="required" data-error="Email is required." style="border-radius: 2vw;">
                            <input type="text" id="contact_form_phone" class="contact_form_phone input_field" placeholder="Your phone number" style="border-radius: 2vw;">
                        </div>
                        <div class="contact_form_text">
                            <textarea id="contact_form_message" class="text_field contact_form_message input_field" name="message" rows="4" placeholder="Message" required="required" data-error="Please, write us a message." style="border-radius: 2vw;"></textarea>
                        </div>
                        <div class="contact_form_button">
                            <button type="submit" class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-2"> Send Message</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="panel"></div>
</div>
