  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid xyz">
       <div class="row">
          <div class="col-lg-12">
             <h1>Simple Admin Sidebar With Bootstrap by <a href="http://http://codepen.io/hughbalboa/">@hughbalboa</a></h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laudantium nobis cum dignissimos ex inventore, velit blanditiis. Quod laborum soluta quidem culpa officia eligendi, quam, recusandae iste aliquid amet odit! </p>
          </div>
       </div>
    </div>
 </div>
 <!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<!-- jQuery -->